
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  background: rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  width: 120px;
  margin: 5px;
  padding: 3px;
  border: 1px solid grey;
  border-radius: 5px;
}

button:active {
  background-color: rgb(180, 180, 180);
}

a {
  color: rgba(245, 236, 157, 0.918);
  text-decoration: none;
  transition: .1s ease-in;
}

a:hover {
  color: rgb(35, 82, 235);
}