html {
    transition: all 0.5s;
    background-color: #ffffff;
}

body {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game_top {
    display: flex;
    flex-direction: row;
}

.game_bottom {
    display: flex;
    flex-direction: row;
}

.game_top_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    border-right: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.game_top_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.game_bottom_right {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.game_bottom_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    border-right: 2px solid rgb(0, 0, 0);
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(202, 202, 202);
}

.black {
    background-color: rgb(0, 0, 0);
}

.cross {
    background-color: transparent;
    color: red;
    text-align: center;
    cursor: default;
}

.clue {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(146, 146, 146);
    background-color: rgb(179, 179, 179);
    color: black;
    text-align: center;
}

.control {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.select {
    margin: 20px;
}

#test-button {
    margin-top: 20px;
    width: 80px;
}

.lineY {
    border-left: 1px solid rgb(90, 90, 90);
}

.lineX {
    border-top: 1px solid rgb(90, 90, 90);
}