.sources {
    display: flex;
    flex-wrap: nowrap;
    height: 70vh;

    overflow: auto;
    font:
        300 1em 'Fira Sans',
        sans-serif;
    flex-direction: column;
    flex-shrink: 1;
}

.source__item {
    background: none;
    border: 2px solid #444;
    border-radius: 5px;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 1em;
    color: #909090;
    transition: 0.25s;
    cursor: pointer;
    min-width: 100px;
}

.source__item:hover,
.source__item:focus {
    border-color: #8d928e;
    color: #dfebe1;
    box-shadow: 0 0.5em 0.5em -0.4em #dfebe1;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: wrap;
    line-height: 1.5;
}

@media (max-width: 450px) {
    .source__item {
        padding: 0.3em 0.3em;
    }
}
