html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: #e1d4c9;
}

h1 {
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
    color: #e1d4c9;
    margin: 0;
    display: inline;
}

h2 {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
    color: #403f3d;
    display: inline;
}

a {
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #e1d4c9;
}

a:active {
    color: #403f3d;
}

span {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #403f3d;
    display: inline-block;
    position: relative;
}

/* HEADER */

nav span::after {
    display: block;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #403f3d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

span:hover::after {
    width: 100%;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    align-items: center;
    background-color: #e1d4c9;
    position: relative;
    z-index: 1;
}

header span {
    font-weight: 600;
    margin-bottom: 5px;
}

.logo {
    height: 60px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul > li {
    list-style-type: none;
    margin: 0px 0px 0px 40px;
}

ul > li:first-child {
    margin: 0px 0px 0px 0px;
}

.menu-item {
    display: flex;
    width: 72px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.menu-item::after {
    display: block;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #403f3d;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.menu-item:hover::after {
    width: 100%;
    left: 0;
}

.menu-item > a {
    color: #403f3d;
    font-weight: 600;
}

.burger-button {
    display: none;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid #665f55;
    position: relative;
    cursor: pointer;
    z-index: 2;
}
.burger-button::before,
.burger-button::after {
    left: 31%;
    position: absolute;
    height: 4%;
    width: 40%;
    transition: 0.3s ease-in-out;
    background-color: #403f3d;
}
.burger-button::before,
.burger-button::after {
    content: '';
}

.burger-button::before {
    top: 40%;
}
.burger-button::after {
    bottom: 40%;
}

/* ENJOY */

main {
    margin: 0px 40px 0px 40px;
}

.enjoy {
    width: 100%;
    max-width: 1360px;
    height: 644px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.offer {
    width: 80%;
    max-width: 530px;
    height: 100%;
    max-height: 444px;
    margin: 100px 0px 100px 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enjoy span:first-child {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
    color: #b0907a;
    margin: 0;
    transform: skew(351deg, 360deg);
    margin-right: -4px;
}

.background {
    margin-top: -673px;
    display: flex;
    justify-content: center;
}

.bg {
    width: 1360px;
}

.offer > span {
    font-weight: 400;
    color: #e1d4c9;
}

.cup-button {
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: inherit;

    display: flex;
    border-radius: 100px;
    font-family: Inter;
    font-style: normal;
}

.offer .cup-button {
    width: 160px;
    background-color: #e1d4c9;
    justify-content: center;
    align-items: center;
    padding: 20px;

    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #403f3d;
}

.cup-btn {
    opacity: 0;
    margin-left: -20px;
    transition: 0.3s;
}

.cup-button:hover > .cup-btn {
    opacity: 1;
    transition: 0.3s;
    margin-left: 8px;
}

/* FAVOURITES-COFFEE */

.favourites-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.favourites-title {
    text-align: center;
    margin-bottom: 40px;
}

.slant {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: #b0907a;
    transform: skew(351deg, 360deg);
}

.btn {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;

    border-radius: 100px;
    border: 1px solid #665f55;
    transition: 0.3s;
    cursor: pointer;
}

.arrow-svg path {
    transition: 0.3s;
}

.btn:hover .arrow-svg path {
    stroke: #e1d4c9;
    transition: 0.3s;
}

.btn:hover {
    background-color: #665f55;
    transition: 0.3s;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.slider-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    height: 640px;
}

.discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 140px;
}

.item-name {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.item-info {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.item-price {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 144px;
    margin-top: 40px;
}

#item-1 {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #665f55;
}

#item-2 {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #c1b6ad;
}

#item-3 {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    background-color: #c1b6ad;
}

/* ABOUT */

.about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.about .slant {
    transform: skew(351deg, 360deg);
    display: inline;
    font-style: italic;
}

.about-photos {
    display: flex;
    justify-content: space-between;
}

.photo-box-1 {
    width: 660px;
    height: 590px;
    border-radius: 20px;
    margin-top: 40px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-box-2 {
    width: 660px;
    height: 430px;
    border-radius: 20px;
    margin-top: 40px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.photo-settings {
    max-width: 100%;
    transform: scale(1.1);
    transition: 0.5s;
}

.photo-settings:hover {
    transform: scale(1);
    transition: 0.5s;
}

/* MOBILE-APP */

.mobile-app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 630px;
    height: 342px;
}

.app-title > h2 {
    margin-left: -4px;
}

.app-box {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.app-button {
    width: 200px;
    height: 64px;
    border-radius: 100px;
    border: 1px solid #665f55;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s;
}

.icon-svg path {
    transition: 0.3s;
}

.app-svg path {
    transition: 0.3s;
}

.app-button:hover .app-svg path {
    fill: #e1d4c9;
    transition: 0.3s;
}

.app-button:hover {
    background-color: #665f55;
    transition: 0.3s;
}

.app-button:hover .app-content > :first-child {
    color: #e1d4c9;
    transition: 0.3s;
}

.app-button:hover .app-content > :last-child {
    color: #e1d4c9;
    transition: 0.3s;
}

.app-icon {
    margin-left: 20px;
    margin-right: 8px;
}

.app-content {
    display: flex;
    flex-direction: column;
}

.app-content > :first-child {
    font-weight: 600;
    font-size: 10px;
    transition: 0.3s;
}

.app-content > :last-child {
    font-weight: 600;
    transition: 0.3s;
}

/* FOOTER */

footer {
    margin: 0px 40px 40px 40px;
    padding: 100px 100px 100px 100px;
    border-radius: 40px;
    background: #665f55;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tagline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 530px;
    height: 250px;
}

.tagline-box {
    display: flex;
    flex-direction: column;
}

.tagline-box > span {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    color: #e1d4c9;
    margin: 0;
}

.slope {
    color: #b0907a;
    font-family: Inter;
    font-size: 60px;
    font-style: italic;
    font-weight: 600;
    line-height: 125%;
    margin: 0;
}

.social {
    display: flex;
    flex-direction: row;
    width: 204px;
    justify-content: space-between;
}

.social-icon {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #c1b6ad;
    cursor: pointer;
    transition: 0.3s;
}

.icon-svg path {
    transition: 0.3s;
}

.social-icon:hover .icon-svg path {
    stroke: #403f3d;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: #e1d4c9;
    transition: 0.3s;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 530px;
    height: 250px;
}

.contacts > span {
    color: #e1d4c9;
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 116px;
}

.row-box {
    display: flex;
}

.row-box > span {
    color: #e1d4c9;
    font-weight: 600;
}

.row-box > span > a {
    font-weight: 600;
}

.icon-svg-footer {
    margin-right: 8px;
}

.underscore {
    cursor: pointer;
    position: relative;
    width: 190px;
}

.underscore::after {
    display: block;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #e1d4c9;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.underscore:hover::after {
    width: 95%;
    left: 0;
}
