html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: #e1d4c9;
    /* padding: 0px 40px 0px 40px; */
}

h1 {
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 105%;
}

h2 {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

a {
    text-decoration: none;
}

a:active {
    color: #403f3d;
}

span {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #403f3d;
    display: inline-block;
    position: relative;
    margin-bottom: 9px;
}

nav span::after {
    display: block;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #403f3d;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

span:hover::after {
    width: 100%;
    left: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul > li {
    list-style-type: none;
    margin: 0px 0px 0px 40px;
}

ul > li:first-child {
    margin: 0px 0px 0px 0px;
}

.menu-item {
    display: flex;
    width: 72px;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.menu-item::after {
    display: block;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    height: 2px;
    width: 0;
    background: #403f3d;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
}

.menu-item:hover::after {
    width: 100%;
    left: 0;
}