html {
    scroll-behavior: smooth;
    transition: all 0.5s;
    background-image: url(./assets/images/background.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center top;
    background-size: 110%;
    background-color: #040e10;
}

body {
    /* background-color: rgb(37, 37, 37); */
    color: rgb(255, 196, 35);

    /* width: 100%;
    height: 100%; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    padding: 20px;
    font-size: 46px;
    text-align: center;
    color: rgba(70, 70, 70, 0.87);
    font-weight: 800;
}

button {
    background-color: rgba(241, 240, 126, 0.247);
    border: 1px solid rgb(255, 196, 35);
    border-radius: 5px;
    color: rgb(211, 208, 11);
    width: 100px;
    height: 30px;
}

h1 {
    color: rgba(255, 60, 0, 0.87);
}

h2 {
    color: rgba(255, 174, 0, 0.87);
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column;
    }
}

/* ANIAMTION */
.animation {
    padding: 20px;
    /* max-height: 350px; */
}

.animation-wrap {
    position: relative;
    display: flex;
}

.gallows {
    width: 200px;
    /* width: 100%; */
}

.action {
    position: absolute;
    top: -65px;
    left: -106px;
}

.head {
    display: none;
    position: absolute;
    top: 149px;
    left: 253px;
    height: 65px;
}

.body-person {
    display: none;
    position: absolute;
    top: 209px;
    left: 259px;
    height: 59px;
}

.left-arm {
    display: none;
    position: absolute;
    top: 183px;
    left: 197px;
    height: 45px;
}

.right-arm {
    display: none;
    position: absolute;
    top: 211px;
    left: 293px;
    height: 32px;
}

.left-leg {
    display: none;
    position: absolute;
    top: 261px;
    left: 247px;
    height: 81px;
}

.right-leg {
    display: none;
    position: absolute;
    top: 264px;
    left: 278px;
    height: 78px;
}

/* INTERACTION */
.interaction {
    display: flex;
    justify-content: center;
}

.interaction-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding: 20px;
    height: auto;
    max-width: 300px;
}

@media (max-width: 1000px) {
    .interaction-wrap {
        max-width: 500px;
    }
    /* .gallows {
        width: 200px;
    } */
}

.answer {
    margin: 10px 0px 10px 0px;
}

.question {
    margin: 10px 0px 10px 0px;
}

.count {
    margin: 10px 0px 10px 0px;
}

.alphabet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 300px;
    /* width: 300px; */
    justify-content: center;
    margin: 10px 0px 10px 0px;
    transition: 0.5s;
}

@media (max-width: 430px) {

    .alphabet {
        width: 300px;
    }
    /* .gallows {
        width: 200px;
    } */
}

.letter {
    border: 1px solid rgb(185, 166, 57);
    background-color: rgba(58, 54, 40, 0.253);
    padding: 5px;
    margin: 2px;
    width: 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.letter:hover {
    background-color: rgb(187, 89, 33);
    transition: 0.5s;
}

.disable {
    pointer-events: none;
    cursor: default;
    background-color: rgba(219, 90, 15, 0.514);
}

.wrong {
    pointer-events: none;
    cursor: default;
    background-color: rgba(167, 167, 167, 0.767);
}

.allDisable {
    pointer-events: none;
    cursor: default;
    background-color: rgba(15, 219, 151, 0.514);
}

.modal-window {
    /* display: flex; */
    display: none;
    width: 100%;
    height: 100%;
    background: #3b3b3be8;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
