.wrap-users-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid rgb(71, 71, 71);
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  flex-grow: 1;

  min-height: 100px;
}

.wrap-search {
  width: 100%;
  margin-bottom: 5px;
}

#wrap-search {
  width: 100%;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
}

.wrap-users {
  /* background-color: rgba(138, 138, 138, 0.479); */
  min-height: 100px;
  max-height: 450px;
  width: 100%;
  overflow-y: scroll;
}

.wrap-users::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.wrap-users::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}


.wrap-user {
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.wrap-user:hover {
  background: rgba(122, 122, 119, 0.404);
}

.list-status {
  width: 7px;
  height: 7px;
  margin-right: 5px;
  border-radius: 50px;
}

.hide-bot {
  display: none;
}

.wrap-info-user {
  height: 20px;
}