.wrap-dialog {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(71, 71, 71);
  border-radius: 5px;
  flex-grow: 2;
  margin: 2px;
  padding: 5px;
  max-height: 500px;
}

.wrap-info-user {
  display: flex;
  justify-content: space-around;
  margin: 5px;
  height: 20px;
  width: 100%;
  border-bottom: 1px dashed rgb(71, 71, 71);
}

#status-user {
  color: rgb(43, 223, 43);
}

.wrap-messages {
  max-height: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.wrap-messages::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.wrap-messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.wrap-send-message-user {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;

  margin: 2px;
  padding: 5px;
}

#wrap-send-message {
  width: 80%;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  height: 30px;
  flex-grow: 1;
  padding-left: 5px;
}

.message-container {
  margin: 5px;
  overflow-wrap: break-word;
}

.message-wrap {
  max-width: 200px;
  min-width: 200px;
  background-color: #6fabaca6;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.right {
  float: right;
}

.left {
  float: left;
}

.message-info {
  display: flex;
  justify-content: space-between;
}

.sender {
  font-size: 10px;
  color: #efe46e;
}

.time {
  font-size: 10px;
  color: #efe46e;
}

.message-text {
  padding: 5px 0px 5px 0px;
}
.message-status {
  display: flex;
  justify-content: space-between;
}

.message-delivered {
  font-size: 10px;
  color: #efe46e;
}

.message-fixed {
  font-size: 10px;
  color: #efe46e;
}

.trash {
  font-size: 10px;
  cursor: pointer;
}
