.buttons-wrap {
    display: flex;
    margin: 0 auto;
}

.button-style {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    width: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 5px;
}

.button-style:active {
    background: rgb(214, 214, 214);
}